

* {
    box-sizing: border-box;
}
.header {
    position:relative;
    width: 100%;
    height: 42px;
    background-color: #d25c02;
}

form {
    border: 1px solid black;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}
.search {
    position: absolute;
    top: 5px;
    right: 5px;
}

.search input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    border: 0px;
    outline-style: none;
    outline-width: 0px;
    height: 20px;
}

@media (max-width:420px) {
    .search input {
        width: 100px;
    }
}

.signoff {
    font-style: italic;
    margin-top: 15px;
}
.writtenBy {
    font-style: italic;
    margin-top: -5px;
    margin-bottom: 10px;
}

.cheader {
    width: 100%;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 18px;
    text-transform: capitalize;
}

.cheader-review {
    background-color: #5cd202;
}

.cheader-article {
    background-color: #e2126c;
}
.cheader-chart {
    background-color: #e2e26c;
}

.cheader-pitch {
    background-color: #6ce2e2;
}

#upper {
    position: relative;
    left:20px;
}

#lower {
    position: relative;
    display:block;
    left: 20px;
    margin-top:0px;
}

.border {
    border:1px solid black;
    margin:0px;
    padding:0px;
}

#more {
    position: relative;
}
.extender {
    position: absolute;
    height: 200px;
    top: -180px;
    width: 100%;
    pointer-events: none;
}
.contentList {

    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter, 30px);
    margin-top: 30px;
    width: 100%;
}

.wrapper {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 720;
}

article {
    margin: 0px;
    padding: 10px;
    background-color: white;
    min-height: 300px;
}

.contentListItem {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 0px;
    flex-direction: column;
    width: 220px;
    border: 1px solid black;
    height: 500px;
    overflow: hidden;
}

.contentListItem img, .contentListItem .innerItem {
    margin: 10px;
}

.fade-out {
    z-index: 3;
    position: absolute;
    content:'';
    width:100%;
    height:100%;
    left:0;
    top:0;

    background:linear-gradient(transparent 400px, white);

}

.contentList a {
    text-decoration: none;
    color: black;
}

.artistList {
    margin-left: 10px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter, 30px);
    margin-top: 30px;
    width: 100%;
}


.artistList a {
    text-decoration: none;
    color: black;

}


.artistListItem {
    position:relative;
    background-color: white;
    padding: 0px;
    flex-direction: column;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}
.artistListItem .innerItem{
    margin-left: 5px;
    margin-right: 5px;
}

.contentImage {
    margin-bottom: 15px;
    margin-right: 15px;
    float:left;
}
.contentImage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}

@media (max-width:400px) {

    .contentImage {
        margin-bottom: 15px;
        margin-right: auto;
        margin-left: auto;
        float:initial;
    }
}

body {
    margin: 0;
    background-color: #CCCCCC;

    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.32;

    color: var(--black);
    letter-spacing: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
