{{ define "artist" }}
{{ template "header" "test app" }}
<article>
<h3> {{ escapeText .Name }}</h3>
<div class="contentImage">
<img src="{{ .Pic }}">
</div>
<div>{{ escapeText .Presentation }}</div>
{{ if .Link }}
  <div id = "links">
  {{ range .Link }}
    <a href="{{ .Href }}" target="_blank">{{ .Text }}</a><br>
  {{ end }}
  </div>
{{ end }}
</article>
</div>
{{ if .Content}}
    {{ template "contentList" .Content }}
{{end}}
{{ template "footer"  }}
{{end}}
