{{ define "content" }}
{{ template "header"  .Name  }}
  <article>
<h3>{{ .Name }}</h3>
<div class="contentImage">
<img src="{{ .Pic }}">
{{ if .Spotify }}
<a href="{{ .Spotify }}" target="_blank"><img src="/css/spotify.png"></a>
{{ end }}
</div>

<div class="text">
   {{ escapeText .Text }}
</div>
<div class = "signoff">
Skrivet av {{ range .WrittenBy }} {{ .Name }} {{end}}
</div>
</article>
</div>
{{ if .Content}}
    {{ template "contentList" .Content }}
{{end}}
{{ template "footer"  }}

<script>
setTimeout(() => {

    if (!sessionStorage.uuid) {
      sessionStorage.uuid = crypto.randomUUID()
    }
    fetch("/read/{{ .Uid }}/" + sessionStorage.uuid)
}, 120*1000);
</script>
{{end}}
