  {{define "header" }}
  <html>
  <head>
  <title>{{ . }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
  <div class ="wrapper">
  <div class="border">
  <div class="header"><a href="/"><img src="/css/logo_upper.jpg" id="upper"><img src="/css/logo_downer.jpg" id="lower"></a>

  <form class = "search" method="get" action="/search/">
  <input type="text" placeholder="Sök" name="terms" autocomplete="off">
  </form>
  </div>
  {{end}}