{{ define "search" }}
{{ template "header"  "Rootsy.nu"  }}
<article>
<h3>Sökresultat</h3>

{{ if . }}
{{ else }}
Kunde inte hitta något.
{{end }}
</article>
</div>

{{ if . }}
<div id ="cl" class="contentList">
{{range .}}
  <div class="contentListItem">
<a href="/content/{{ .Uid }}/{{ toUrl .Name }}" >
  <div class="cheader cheader-{{ .Type }}">{{ typeText .Type }} </div>
  <img src="{{ .Pic }}">
  <div class="innerItem">
  <h4>{{ .Name }}</h4>
  <div class="leadin">
  {{ clearMarkers .LeadInText   }}
  </div>
  <div class="fade-out">&nbsp;

  <div class="writtenBy">{{ range .WrittenBy }} {{.Name }} {{ end }}</div>

  </div>
  </div>
  </a>
  </div>
{{end}}

{{end}}
{{ template "footer"  }}
{{end}}
