{{ define "start" }}
{{ template "header"  "Rootsy.nu"  }}
<article>
<h3>Välkommen till Rootsy..nu's arkinv, 2003-2023</h3>

För nya artiklar, recensioner och nyheter, se <a href="http://www.rootsyland.com">Rootsyland.com</a>.

<div>

</div>

</article>
</div>

{{ template "contentList" . }}

{{ template "footer"  }}
{{end}}
